.button {
  position: relative;
  padding: 6px 16px;
  border-radius: 4px;
  background: #e0e0e0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  overflow: hidden;
}

.button:hover {
  background: #f5f5f5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.button:active {
  background: #e0e0e0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.button label {
  position: relative;
  cursor: pointer;
}

.wave {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 0;
  width: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  background-color: #9d9d9d;
  animation-name: scale1;
  animation-timing-function: ease-out;
  animation-iteration-count: initial;
  animation-duration: 0.6s;
}
